/*

CSS for VGG Image Annotator 2

Author : Abhishek Dutta <adutta@robots.ox.ac.uk>
13 July 2017

Grey Theme from Material Design
500 #9e9e9e
 50 #fafafa
100 #f5f5f5
200 #eeeeee
300 #e0e0e0
400 #bdbdbd
500 #9e9e9e
600 #757575
700 #616161
800 #424242
900 #212121

Theme:
  Primary : #212121
            #484848 (lighter tone)
            #000000 (darker tone)

  Secondary : #616161 (700)
              #e0e0e0 (300, fallback)

  Text : #FFFFFF
    Primary text       = #ffffff
    Secondary text     = #eeeeee
    Disabled/hint text = #757575
    Dividers           = #424242
    Highlighted        = #5599ff

  Text size:
    Primary text  : 1rem (main menu, toolgroup title, etc)
    Button text   : 0.9rem
    Secondary text: 0.7rem (status message, filename, etc)

z-index
  Navigation menu bar (always on-top) : 1000;
*/

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif; font-size: medium;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #212121;
    color: #ffffff;
    opacity: 1.0;
    min-width: 320px;
}

a {
    color: #5599ff;
    text-decoration: none;
}

/* Navigation menu bar that appear at the top */
.menubar {
    font-size: 1rem;
    z-index: 1000;
    border-bottom: 1px solid #424242;
}
.menubar ul {
    display: block; list-style-type: none; overflow: hidden;
    margin: 0; padding: 0;
}
.menubar li { /* main menu items */
    float: left;
    padding: 0.5rem 1rem;
}
.menubar li:hover {
    background-color: #616161;
    cursor: default;
}
.menubar li ul {
    display: none;
    background-color: #212121;
    border: 1px solid #616161;
    min-width: 10rem;
    opacity: 1.0;
    /*box-shadow: 0 0.5rem 0.5rem 0 rgba(255, 255, 255, 0.12);*/
    position: absolute;
    z-index: 1000;
    margin: 0.5rem -1rem; /* align dropdown to compensate for padding of menu items */
}
.menubar li ul li { /* sub-menu items */
    float: none;
    list-style-type: none;
    color: #eeeeee;
    margin: 0; padding: 0.6rem 1rem;
}
.menubar li ul li.submenu_divider {
    margin: 0 0.4rem; padding: 0;
    height: 1px;
    border-bottom: 1px solid #424242;
}
.menubar li:hover ul { /* ensures that main menu hover displays the sub-menu */
    display: block;
}

/* Status message bar that sits just below the navigation menu bar */
.messagebar {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 0.7rem;
    color: #757575;
    padding: 0.5rem 0.5rem;
    text-align: center;
    text-overflow: ellipsis; /* extra text is replaced by ... */
    white-space: nowrap;
    overflow: hidden;
}

/* content */
.content {
    display: inline-block;
    width: 78%;
    border: 0px solid #ffffff;
    margin: 0 1rem;
}
.hidden {
    display: none;
}

/* html content : about page, settings, filelist, etc */
.html_content {
    display: inline-block;
    text-align: left;
    margin: 0 1rem;
    overflow-x: hidden;
    overflow-y: auto;
    height: 90vh;
}
.html_content.wide {
    width: 50rem;
}
.html_content.narrow {
    width: 35rem;
}

.html_content h2 {
    font-size: 2rem;
    text-decoration: none;
}
.html_content h3 {
    color: #eeeeee;
    font-size: 1.2rem;
    text-align: left;
}
.html_content h5 {
    font-size: 0.8rem;
    text-decoration: none;
}
.html_content p {
    color: #757575;
    font-size: 0.8rem;
}
.html_content.hidden {
    display: none;
}
.html_content.visible {
    display: inline-block;
}

.html_content ul {
    display: table;
    list-style-type: none;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
}
.html_content ul li {
    display: table-row;
}

.html_content ul li p {
    display: table-cell;
    margin: 0.5rem 0;
    padding: 0 1rem;
    color: #ffffff;
}
.html_content ul li input, .html_content ul li select {
    display: table-cell;
    border: none;
    background-color: #000000;
    color: #ffffff;
    padding: 0.3rem 0.5rem;
    margin: 0.5rem 0;
    font-size: 0.8rem;
}

/* toolbox */
.toolbox {
    color: #eeeeee;
    display: inline-block;
    background-color: #000000;
    position: absolute;
    right: 0rem; /* stick to the right boundary */
    vertical-align: top;
    width: 18rem;
}

/* information about current file */
.toolbox .now_fileinfo {
    padding: 1rem 0.5rem;
    text-align: center;
}
.toolbox .now_fileinfo .fileindex {
    display: block;
    font-size: 2rem;
    height: 3rem;
    text-overflow: ellipsis; /* extra text is replaced by ... */
    white-space: nowrap;
    overflow: hidden;
}
.toolbox .now_fileinfo .filename {
    display: inline-block;
    font-size: 0.7rem;
    width: 100%;
    height: 3rem;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis; /* extra text is replaced by ... */
}

.toolgroup {
    display: table;
    border: 1px solid #212121;
    margin: 2rem 1rem;
    text-align: left;
}

.toolgroup p { /* caption of toolgroup */
    color: #757575;
    display: table-caption;
    text-align: left;
    margin: 0; margin-bottom: 0.2rem;
}

.toolgroup ul {
    display: table-row;
    list-style-type: none;
}

.toolgroup ul li { /* toolgroup buttons */
    display: table-cell;
    padding: 0.2rem 1rem;
    border: 1px solid #212121;
    margin: 0;
}

.toolgroup ul li svg { /* button icon */
    stroke: #eeeeee;
    fill: none;
}

.toolgroup ul li p { /* button text */
    color: #eeeeee;
    display: inline-block;
    padding-left: 0.5rem;
    font-size: 0.8rem;
}

.toolgroup ul li.active { /* highlight active button */
    background-color: #5599ff;
}
.toolgroup ul li.active:hover { /* do nothing for already active button */
    cursor: default;
}
.toolgroup ul li.active:active { /* click on already active button does nothing */
    background-color: #5599ff;
}

.toolgroup ul li.disabled {
    display: none;
}

.toolgroup ul li.inactive {
    color: #757575;
}
.toolgroup ul li.inactive:hover {
    background-color: #000000;
    cursor: default;
}

.toolgroup ul li:hover { /* when mouse is over the button */
    background-color: #5599ff;
    cursor: pointer;
}

.toolgroup ul li:active { /* when button is clicked */
    background-color: #000000;
}

@media screen and (max-width: 800px) {
    .toolbox { /* toolbox is initially hidden by a expand button */
        display: none;
    }
    .toolgroup ul li p { /* only button icon is shown */
        display: none;
    }
}
